In [0]:
import json
import os
from google.colab import drive

drive.mount('/content/drive')

with open('/content/drive/My Drive/data/PutinTeam.json', 'r') as file: 
  putin_data = file.read()
  putin_data = json.loads(putin_data)
  
with open('/content/drive/My Drive/data/TeamNavalny.json', 'r') as file: 
  navalny_data = file.read()
  navalny_data = navalny_data[:-2] + '"]}'
  navalny_data = json.loads(navalny_data)

# посмотрим на фичи
features = [feature for feature in putin_data]
print(len((features)))

      
features = [feature for feature in navalny_data]
print(len((features)))
# тут cловарь "название признака - вектор признака", чтобы потом
# сохранить csv
feature_dict = {}

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
45
38

In [0]:
followers_count = [el for el in putin_data['followers_count']]
feature_dict['followers_count'] = followers_count
print(len(followers_count))
followers_count = [el for el in navalny_data['followers_count']]
feature_dict['followers_count'] += followers_count[:25808]
print(len(feature_dict['followers_count']))

# закодировано 1 и 0
verified = [el for el in putin_data['verified']]
feature_dict['verified'] = verified
print(len(verified))
verified = [el for el in navalny_data['verified']]
feature_dict['verified'] += followers_count[:25808]
print(len(feature_dict['verified']))

# закодировано 1 и 2
sex = [el for el in putin_data['sex']]
feature_dict['sex'] = sex
print(len(sex))
sex = [el for el in navalny_data['sex']]
feature_dict['sex'] += sex[:25808]
print(len(feature_dict['sex']))

# закодировано 1 и 2
has_mobile = [el for el in putin_data['has_mobile']]
feature_dict['has_mobile'] = has_mobile
print(len(has_mobile))
has_mobile = [el for el in navalny_data['has_mobile']]
feature_dict['has_mobile'] += has_mobile[:25808]
print(len(feature_dict['has_mobile']))

# закодировано 1 и 0
has_photo = [el for el in putin_data['has_photo']]
feature_dict['has_photo'] = has_photo
print(len(has_photo))
has_photo = [el for el in navalny_data['has_photo']]
feature_dict['has_photo'] += has_photo[:25808]
print(len(feature_dict['has_photo']))

# закодировано 1 и 0
contacts = [el for el in putin_data['contacts']]
feature_dict['contacts'] = contacts
print(len(contacts))
contacts = [el for el in navalny_data['contacts']]
feature_dict['contacts'] += contacts[:25808]
print(len(feature_dict['contacts']))

# закодировано 1 и 0, есть ли возможность оставлять комменты на странице
wall_comments = [el for el in putin_data['wall_comments']]
feature_dict['wall_comments'] = wall_comments
print(len(wall_comments))
wall_comments = [el for el in navalny_data['wall_comments']]
feature_dict['wall_comments'] += wall_comments[:25808]
print(len(feature_dict['wall_comments']))

25808
51616
25808
51616
25808
51616
25808
51616
25808
51616
25808
51616
25808
51616

In [0]:
# в el - массив словарей с инфой о каждой школе, указанной в профиле
subscriptions = [len(el) for el in putin_data['subscriptions']] + [0, 0]
feature_dict['subscriptions'] = subscriptions
print(len(subscriptions))
subscriptions = [len(el) for el in navalny_data['subscriptions']]
feature_dict['subscriptions'] += subscriptions[:25808]
print(len(feature_dict['subscriptions']))

reposts = [len(el) for el in putin_data['reposts']] + [0, 0]
feature_dict['reposts'] = reposts[:-2]
print(len(reposts[:-2]))
reposts = [len(el) for el in navalny_data['reposts']]
feature_dict['reposts'] += reposts[:25808]
print(len(feature_dict['reposts']))

# в el - массив словарей с инфой о каждой школе, указанной в профиле
schools = [len(el) for el in putin_data['schools']]
feature_dict['schools'] = schools
print(len(schools))
schools = [len(el) for el in navalny_data['schools']]
feature_dict['schools'] += schools[:25808]
print(len(feature_dict['schools']))

# в el - массив id друзей пользователя
friends = [len(el) for el in putin_data['friends']]
feature_dict['friends'] = friends
print(len(friends))
friends = [len(el) for el in navalny_data['friends']]
feature_dict['friends'] += friends[:25808]
print(len(feature_dict['friends']))

# считаем количество мест работы
# у навального такого поля нет - пришлось выкинуть
#career = [len(el) for el in putin_data['career']]
#feature_dict['career'] = career
#print(len(career))
#career = [len(el) for el in navalny_data['career']]
#feature_dict['career'] += career[:25808]
#print(len(feature_dict['career']))

25808
51616
25808
51616
25808
51616
25808
51616

In [0]:
# если ник - ник, то 0, если ник - отчество, то 1, если ничего нет - 2
nickname = []
for el in putin_data['nickname']:
  if el[-2:].lower() == 'ич'or el[-2:].lower() == 'на' \
  or el[-3:].lower() == 'ich' or el[-2:].lower() == 'na':
    nickname.append(1)
  elif el == '':
    nickname.append(2)
  else:
    nickname.append(0)

feature_dict['nickname'] = nickname
len(nickname)

nickname = []
for el in navalny_data['nickname'][:25808]:
  if el[-2:].lower() == 'ич'or el[-2:].lower() == 'на' \
  or el[-3:].lower() == 'ich' or el[-2:].lower() == 'na':
    nickname.append(1)
  elif el == '':
    nickname.append(2)
  else:
    nickname.append(0)

feature_dict['nickname'] += nickname
len(feature_dict['nickname'])

51616

In [0]:
# если вместо айди ник, то 1, если нет, то 0
domain = []
for el in putin_data['domain']:
  if el.startswith('id'):
    domain.append(0)
  else:
    domain.append(-1)
    
feature_dict['domain'] = domain
len(domain)


domain = []
for el in navalny_data['domain'][:25808]:
  if el.startswith('id'):
    domain.append(0)
  else:
    domain.append(-1)
    
feature_dict['domain'] += domain
len(feature_dict['domain'])

51616

In [0]:
# число родственников? закодировано число
relation = []
for el in putin_data['relation']:
  if el == '':
    relation.append(-1)
  else:
    relation.append(el)
    
feature_dict['relation'] = relation
print(len(relation))


# платформы уже закодированы числами
# иногда такого ключа в этом признаке нет - кодирую нулем
last_seen = []

for el in putin_data['last_seen']:
  try:
    last_seen.append(el['platform'])
  except KeyError:
    last_seen.append(0)

feature_dict['last_seen'] = last_seen
print(len(last_seen))


faculty_ids = []
for el in putin_data['faculty_ids']:
  if el == '':
    faculty_ids.append(-1)
  else:
    faculty_ids.append(el)

feature_dict['faculty_ids'] = faculty_ids
print(len(faculty_ids))


university_ids = []
for el in putin_data['university_ids']:
  if el == '':
    university_ids.append(-1)
  else:
    university_ids.append(el)

feature_dict['university_ids'] = university_ids
print(len(university_ids))


# у каждой страны есть свой id, его и берем
country = []
for el in putin_data['country']:
  if el == '':
    country.append(0)
  else:
    country.append(el['id'])

feature_dict['country'] = country
print(len(country))


city = []
for el in putin_data['city']:
  if el == '':
    city.append(0)
  else:
    city.append(el['id'])

feature_dict['city'] = city
print(len(city))



# число родственников? закодировано число
relation = []
for el in navalny_data['relation'][:25808]:
  if el == '':
    relation.append(-1)
  else:
    relation.append(el)
    
feature_dict['relation'] += relation
print(len(feature_dict['relation']))


# платформы уже закодированы числами
# иногда такого ключа в этом признаке нет - кодирую нулем
last_seen = []

for el in navalny_data['last_seen'][:25808]:
  try:
    last_seen.append(el['platform'])
  except KeyError:
    last_seen.append(0)

feature_dict['last_seen'] += last_seen
print(len(feature_dict['last_seen']))


faculty_ids = []
for el in navalny_data['faculty_ids'][:25808]:
  if el == '':
    faculty_ids.append(-1)
  else:
    faculty_ids.append(el)

feature_dict['faculty_ids'] += faculty_ids
print(len(feature_dict['faculty_ids']))


university_ids = []
for el in navalny_data['university_ids'][:25808]:
  if el == '':
    university_ids.append(-1)
  else:
    university_ids.append(el)

feature_dict['university_ids'] += university_ids
print(len(feature_dict['university_ids']))


# у каждой страны есть свой id, его и берем
country = []
for el in navalny_data['country'][:25808]:
  if el == '':
    country.append(0)
  else:
    country.append(el['id'])

feature_dict['country'] += country
print(len(feature_dict['country']))


city = []
for el in navalny_data['city'][:25808]:
  if el == '':
    city.append(0)
  else:
    city.append(el['id'])

feature_dict['city'] += city
print(len(feature_dict['city']))

25808
25808
25808
25808
25808
25808
51616
51616
51616
51616
51616
51616

In [0]:
age = []
for el in putin_data['age']:
  if el == '':
    age.append(0)
  else:
    if el < 18:
      age.append(1)
    elif 18 >= el < 30:
      age.append(2)
    elif 30 >= el < 50:
      age.append(3)
    elif 50 >= el < 100:
      age.append(4)
    elif el >= 100:
      age.append(5)
    else:
      age.append(-1)
feature_dict['age'] = age
len(age)

age = []
for el in navalny_data['age'][:25808]:
  if el == '':
    age.append(0)
  else:
    if el < 18:
      age.append(1)
    elif 18 >= el < 30:
      age.append(2)
    elif 30 >= el < 50:
      age.append(3)
    elif 50 >= el < 100:
      age.append(4)
    elif el >= 100:
      age.append(5)
    else:
      age.append(-1)
feature_dict['age'] += age
len(feature_dict['age'])

51616

In [0]:
# следующие поля - 0, если пустые, 1, если заполнены

activities = []
for el in putin_data['activities']:
  if el == '' or el == []:
    activities.append(0)
  else:
    activities.append(1)

feature_dict['activities'] = activities
print(len(activities))


interests = []
for el in putin_data['interests']:
  if el == '' or el == []:
    interests.append(0)
  else:
    interests.append(1)

feature_dict['interests'] = interests
print(len(interests))


#books = []
#for el in putin_data['books']:
#  if el == '' or el == []:
#    books.append(0)
#  else:
#    books.append(1)

#feature_dict['books'] = books
#print(len(books))


#military = []
#for el in putin_data['military']:
#  if el == '' or el == []:
#    military.append(0)
#  else:
#    military.append(1)
#
#feature_dict['military'] = military
#print(len(military))


#games = []
#for el in putin_data['games']:
#  if el == '' or el == []:
#    games.append(0)
#  else:
#    games.append(1)

#feature_dict['games'] = games
#print(len(games))


status = []
for el in putin_data['status']:
  if el == '' or el == []:
    status.append(0)
  else:
    status.append(1)

feature_dict['status'] = status
print(len(status))


#quotes = []
#for el in putin_data['quotes']:
#  if el == '' or el == []:
#    quotes.append(0)
#  else:
#    quotes.append(1)

#feature_dict['quotes'] = quotes
#print(len(quotes))


#about = []
#for el in putin_data['about']:
#  if el == '' or el == []:
#    about.append(0)
#  else:
#    about.append(1)

#feature_dict['about'] = about
#print(len(about))


#tv = []
#for el in putin_data['tv']:
#  if el == '' or el == []:
#    tv.append(0)
#  else:
#    tv.append(1)

#feature_dict['tv'] = tv
#print(len(tv))


music = []
for el in putin_data['music']:
  if el == '' or el == []:
    music.append(0)
  else:
    music.append(1)

feature_dict['music'] = music
print(len(music))



activities = []
for el in navalny_data['activities'][:25808]:
  if el == '' or el == []:
    activities.append(0)
  else:
    activities.append(1)

feature_dict['activities'] += activities
print(len(feature_dict['activities']))


interests = []
for el in navalny_data['interests'][:25808]:
  if el == '' or el == []:
    interests.append(0)
  else:
    interests.append(1)

feature_dict['interests'] += interests
print(len(feature_dict['interests']))


#books = []
#for el in navalny_data['books'][:25808]:
#  if el == '' or el == []:
#    books.append(0)
#  else:
#    books.append(1)

#feature_dict['books'] += books
#print(len(feature_dict['books']))


#military = []
#for el in navalny_data['military'][:25808]:
#  if el == '' or el == []:
#    military.append(0)
#  else:
#    military.append(1)

#feature_dict['military'] += military
#print(len(feature_dict['military']))


#games = []
#for el in navalny_data['games'][:25808]:
#  if el == '' or el == []:
#    games.append(0)
#  else:
#    games.append(1)

#feature_dict['games'] += games
#print(len(games))


status = []
for el in navalny_data['status'][:25808]:
  if el == '' or el == []:
    status.append(0)
  else:
    status.append(1)

feature_dict['status'] += status
print(len(status))


#quotes = []
#for el in navalny_data['quotes'][:25808]:
#  if el == '' or el == []:
#    quotes.append(0)
#  else:
#    quotes.append(1)

#feature_dict['quotes'] += quotes
#print(len(quotes))


#about = []
#for el in navalny_data['about'][:25808]:
#  if el == '' or el == []:
#    about.append(0)
#  else:
#    about.append(1)

#feature_dict['about'] += about
#print(len(about))


#tv = []
#for el in navalny_data['tv'][:25808]:
#  if el == '' or el == []:
#    tv.append(0)
#  else:
#    tv.append(1)

#feature_dict['tv'] += tv
#print(len(tv))


music = []
for el in navalny_data['music'][:25808]:
  if el == '' or el == []:
    music.append(0)
  else:
    music.append(1)

feature_dict['music'] += music
print(len(music))

25808
25808
25808
25808
51616
51616
25808
25808

In [0]:
print('к нормализации готово ', len(feature_dict), 'фичей:')
for el in feature_dict:
  print(el)

к нормализации готово  24 фичей:
followers_count
verified
sex
has_mobile
has_photo
contacts
wall_comments
subscriptions
reposts
schools
friends
nickname
domain
relation
last_seen
faculty_ids
university_ids
country
city
age
activities
interests
status
music

In [0]:
# 0 - путинист, 1 - навальненок
feature_dict['y'] = [0] * 25808
feature_dict['y'] += [1] * 25808

In [0]:
import pandas as pd
import numpy as np

df = pd.DataFrame(feature_dict)

df.to_csv('/content/drive/My Drive/data/data.csv', sep='\t', encoding='utf-8')

df

,activities,age,city,contacts,country,domain,faculty_ids,followers_count,friends,has_mobile,...,relation,reposts,schools,sex,status,subscriptions,university_ids,verified,wall_comments,y
0,1,4,2,0,1,-1,234,608,287,1,...,0,150,2,2,1,25,56,0,1,0
1,0,0,0,0,1,0,-1,2405,222,1,...,-1,0,0,1,1,47,-1,0,1,0
2,0,0,2,0,1,-1,-1,594,356,1,...,-1,0,0,2,0,66,-1,0,1,0
3,0,4,25,0,1,-1,-1,2177,1535,1,...,-1,0,0,2,1,521,-1,0,1,0
4,0,3,1,0,1,-1,-1,9689,64,1,...,-1,3,0,2,1,1005,-1,0,1,0
5,0,4,2,0,1,-1,-1,277,236,1,...,-1,0,0,2,1,28,-1,0,1,0
6,0,4,2,0,1,-1,-1,954,446,1,...,-1,0,0,2,0,58,-1,0,1,0
7,0,0,1,0,1,0,-1,409,902,1,...,-1,0,0,2,0,55,-1,0,0,0
8,0,3,2,0,1,-1,-1,1263,536,1,...,-1,0,0,1,1,124,-1,0,1,0
9,0,3,60,0,1,-1,-1,606,375,1,...,-1,97,0,2,0,200,-1,0,1,0
10,0,0,0,0,1,0,0,9450,163,1,...,0,0,0,1,0,1016,0,0,0,0
11,1,0,2,1,1,-1,3,696,872,1,...,0,1802,1,1,1,284,1,0,1,0
12,0,3,2,0,1,-1,0,485,707,1,...,4,1885,0,2,1,192,0,0,1,0
13,0,4,2,1,1,-1,-1,1545,2143,1,...,-1,336,0,2,0,400,-1,0,1,0
14,0,3,2487,0,1,-1,-1,399,454,1,...,-1,254,0,1,0,69,-1,0,1,0
15,0,4,2,0,1,-1,-1,1030,303,1,...,-1,786,0,2,1,29,-1,0,1,0
16,0,4,2,0,1,0,-1,138,525,1,...,-1,0,0,2,1,26,-1,0,0,0
17,0,0,1,0,1,0,-1,628,2939,1,...,-1,2189,0,1,1,170,-1,0,1,0
18,0,-1,1,0,1,0,-1,124,909,1,...,-1,770,0,2,1,46,-1,0,1,0
19,0,4,2,0,1,0,-1,409,444,1,...,-1,0,0,1,0,36,-1,0,1,0
20,0,0,2,0,1,0,-1,67,246,1,...,-1,0,0,1,0,180,-1,0,1,0
21,1,3,2,0,1,-1,103,733,443,1,...,1,469,4,1,0,115,34,0,1,0
22,0,0,147,0,1,-1,-1,170,62,1,...,-1,0,0,2,0,16,-1,0,1,0
23,0,0,1,0,1,0,-1,100,324,1,...,-1,0,0,2,1,27,-1,0,1,0
24,0,4,2,0,1,-1,0,342,464,1,...,1,51,2,2,0,176,0,0,1,0
25,0,0,1,0,1,-1,-1,338,107,1,...,-1,0,0,2,0,70,-1,0,0,0
26,0,0,2,0,1,0,-1,655,204,1,...,-1,112,0,2,0,17,-1,0,1,0
27,0,0,2,0,1,0,-1,224,397,1,...,-1,0,0,1,0,50,-1,0,1,0
28,0,4,2,0,1,0,-1,27,189,1,...,-1,12,0,2,0,6,-1,0,0,0
29,0,3,1,0,1,0,-1,617,719,1,...,-1,37,0,1,0,22,-1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51586,0,3,1951986,0,65,-1,-1,54,136,1,...,-1,0,0,2,1,62,-1,54,1,1
51587,0,0,1159726,0,1,0,0,197,332,1,...,4,0,0,2,0,111,0,197,1,1
51588,0,0,0,0,1,-1,-1,13,153,1,...,-1,0,0,2,1,45,-1,13,1,1
51589,0,3,143,0,1,-1,-1,2609,91,1,...,-1,0,0,1,1,252,-1,2609,1,1
51590,0,0,0,0,1,0,-1,481,156,1,...,-1,0,0,2,1,26,-1,481,1,1
51591,0,3,1,0,1,-1,1424,322,190,1,...,1,0,1,1,1,200,326,322,1,1
51592,0,0,2,0,1,0,-1,164,178,1,...,-1,0,0,1,0,88,-1,164,1,1
51593,0,0,2,0,1,-1,-1,132,61,1,...,-1,0,0,2,0,39,-1,132,1,1
51594,0,3,1469,0,1,-1,-1,81,270,1,...,-1,0,0,2,0,72,-1,81,1,1
51595,0,3,1,0,1,-1,-1,173,65,1,...,-1,0,0,1,0,87,-1,173,1,1
51596,0,3,1,0,1,-1,2232193,95,574,1,...,7,0,4,2,1,69,501595,95,1,1
51597,0,0,99,0,1,-1,-1,44,325,1,...,-1,0,0,2,0,48,-1,44,1,1
51598,0,0,123,0,1,-1,-1,1122,430,1,...,-1,0,0,2,0,23,-1,1122,0,1
51599,0,4,3296,0,8,-1,-1,723,140,1,...,-1,0,0,2,0,43,-1,723,1,1
51600,0,3,1,0,1,-1,-1,198,418,1,...,-1,0,0,2,0,107,-1,198,1,1
51601,0,3,95,0,1,0,-1,133,9,1,...,-1,0,0,2,0,28,-1,133,1,1
51602,0,-1,2,0,1,0,-1,8,325,1,...,-1,0,0,2,1,25,-1,8,0,1
51603,0,4,941,0,1,-1,-1,166,131,1,...,-1,0,0,2,0,134,-1,166,1,1
51604,0,3,72,0,1,-1,-1,592,85,1,...,-1,0,0,1,0,40,-1,592,1,1
51605,0,4,0,0,1,0,-1,17,156,1,...,-1,0,0,2,0,83,-1,17,1,1
51606,0,0,110,0,1,-1,-1,158,371,1,...,-1,0,0,1,0,41,-1,158,1,1
51607,0,0,4053938,1,103,-1,-1,39,44,1,...,-1,0,0,2,1,20,-1,39,1,1
51608,0,0,354,0,1,-1,-1,6,136,1,...,-1,0,0,2,1,84,-1,6,1,1
51609,0,0,1,0,1,0,-1,40,55,1,...,-1,0,0,1,1,30,-1,40,1,1
51610,0,0,1,0,1,0,197069,11,453,1,...,0,0,0,2,0,124,935,11,1,1
51611,0,3,99,0,1,0,-1,45,132,1,...,-1,0,0,2,0,60,-1,45,1,1
51612,0,3,158,0,1,-1,-1,100,0,1,...,-1,0,0,2,0,22,-1,100,1,1
51613,0,0,0,0,0,-1,-1,278,1364,1,...,-1,0,0,1,0,203,-1,278,1,1
51614,0,3,0,0,1,-1,0,52,103,1,...,4,0,0,2,1,43,0,52,1,1
51615,0,0,95,0,1,-1,-1,141,87,1,...,-1,0,0,1,0,236,-1,141,1,1